# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.idea

# ChromaDB
faq_database/
*.sqlite3

# Not published files
hidden/

# Models
*.safetensors
*.bin
my_model/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# wandb
wandb/

# Ignore certificates
*.pem
*.cert
*.key

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Audio Files
# =========================

day2_voice_agent/recordings/*
day2_voice_agent/outputs/*

# Keep folders
!day2_voice_agent/recordings/.gitkeep
!day2_voice_agent/outputs/.gitkeep
